body {
    font-family: "Calibri", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#252519;
    margin:0;
    padding:0;
}

table {
  padding: 0;
  border-spacing: 0;
}

td {
    border: 0px;
    outline:0;
}


.docs h1, h2 {
    margin-top: 0px;
}

td.docs,th.docs {
    max-width:450px;
    min-width:450px;
    min-height:5px;
    overflow-x:hidden;
    vertical-align:top;
    text-align:left;
    padding:10px 25px 1px 50px;
}

.docs p {
    margin-top: 1px;
}
.docs pre {
    padding-left:15px;
    margin:15px 0;
}

.docs p tt,.docs p code {
    background:#f8f8ff;
    border:1px solid #dedede;
    font-size:12px;
    padding:0 .2em;
}

td.code,th.code {
    width:100%;
    vertical-align:top;
    background:#f5f5ff;
    border-left:1px solid #e5e5ee;
    padding:14px 15px 16px 25px;
}

pre code, .code pre {
    font-size: 12px;
}

pre,tt,code {
    font-family:Menlo, Monaco, Consolas, "Lucida Console", monospace;
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
}


#jump_to,#jump_page {
    background:#FFF;
    -webkit-box-shadow:0 0 25px #777;
    -moz-box-shadow:0 0 25px #777;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    font-size:12px;
    cursor:pointer;
    text-align:left;
}

#jump_to,#jump_wrapper {
    position:fixed;
    right:0;
    top:0;
    padding:5px 10px;
}

#jump_wrapper {
    display:none;
    padding:0;
}

#jump_to:hover #jump_wrapper {
    display:block;
}

#jump_page {
    margin:0 0 25px 25px;
    padding:5px 0 3px;
}

#jump_page .source {
    display:block;
    text-decoration:none;
    border-top:1px solid #eee;
    padding:5px 10px;
}

#jump_page .source:hover {
    background:#f5f5ff;
}

.c {
    color:#408080;
    font-style:italic;
}

.kw {
    color:#954121;
}
