body {
    background: rgb(225, 225, 225);
    margin: 0px;
    padding: 0px;
}

#docgo p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

#docgo div {
    display: inline;
}

#docgo #background {
    position: fixed;
    top: 0; left: 525px; right: 0; bottom: 0;
    background: rgb(47, 47, 47);
    border-left: 1px solid #e5e5ee;
    z-index: -1;
}

#docgo .keyword {
    color: rgb(250, 200, 100);
}

#docgo .literal {
    color: rgb(140, 190, 100);
}

#docgo .ident {
    color: white;
}

#docgo .operator {
    color: white;
}

#docgo .comment {
}

#docgo h1, h2, h3, h4, h5 {
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

#docgo h1 {
    margin-top: 40px;
}

#docgo .doc {
    vertical-align: top;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-size: 15px;
    line-height: 22px;
    color: black;
    min-width: 450px;
    max-width: 450px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 1px;
    padding-left: 50px;
    overflow-x: hidden;
}

#docgo .code {
    min-width: 650px;
    max-width: 650px;
    padding-left: 25px;
    padding-right: 15px;
    border-left: 1px;
    overflow-x: hidden;
    vertical-align: top;
}

#docgo .code pre code  {
    font-size: 12px;
    line-height: 18px;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    color: rgb(120, 120, 120);
}
