$background : #cccccc;
$gelb : #FFC72C;
$navibg : rgb(255,249,233);
$grey : rgba(0,0,0,.5);
$lightgrey : #ccc;
$codeblockBG : #f0f3f3;
$gelb: #ffc800;
$orange : #f5a623;
$darkgreen : #78af3c;
$lightgreen : #81d929;