
.admonitionblock>table {
    margin-bottom:1.2em;
    td.icon {
        vertical-align:middle;
        &:hover .fa {
            -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear;

        }
    }
    td.content {
        padding-left: 1.125em;
        padding-right: 1.25em;
        border-left: 1px solid #ddddd8;
        color: #555;

    }
}
.quoteblock {
    margin: 0 1em 1.25em 1.5em;
    display: table
}
.quoteblock>.title {
    margin-left: -1.5em;
    margin-bottom: .75em
}
.quoteblock blockquote, .quoteblock blockquote p {
    color: rgba(0, 0, 0, .85);
    font-size: 1.15rem;
    line-height: 1.75;
    word-spacing: .1em;
    letter-spacing: 0;
    font-style: italic;
    text-align: justify
}
.quoteblock blockquote {
    margin: 0;
    padding: 0;
    border: 0
}
.quoteblock blockquote:before {
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: $gelb;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1)
}
.quoteblock blockquote>.paragraph:last-child p {
    margin-bottom: 0
}
.quoteblock .attribution {
    margin-top: .5em;
    margin-right: .5ex;
    text-align: right
}
.quoteblock .quoteblock {
    margin-left: 0;
    margin-right: 0;
    padding: .5em 0;
    border-left: 3px solid rgba(0, 0, 0, .6)
}
.quoteblock .quoteblock blockquote {
    padding: 0 0 0 .75em
}
.quoteblock .quoteblock blockquote:before {
    display: none
}
.quoteblock .attribution, .verseblock .attribution {
    font-size: .9375em;
    line-height: 1.45;
    font-style: italic
}
.quoteblock .attribution br, .verseblock .attribution br {
    display: none
}
.quoteblock .attribution cite, .verseblock .attribution cite {
    display: block;
    letter-spacing: -.025em;
    color: rgba(0, 0, 0, .6);
}



