<!DOCTYPE html>
<html>
<head>
<title>{{.Filename}}</title>
<style type="text/css">{{.Style}}</style>
</head>
<body>
<div id="docgo">
  <div id="background"></div>
  <table>
    <thead><tr><th class="doc"><h1>{{.Filename}}</h1></th><th class="code"></th></tr></thead>
    <tbody>
      {{range .Sections}}
      <tr class="section">
	<td class="doc">{{.Doc}}</td>
	<td class="code"><pre><code>{{.Code}}</code></pre></td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
</body>
</html>
